
<section class="main">
    <div class="ditele_info">
        <!-- <h1>hello</h1> -->
        <div class="description">
            <h1>Task Yousma</h1>
            <div class="sub_description">
                <!-- <div class="quality">
                    <i class="fa-solid fa-star"></i>
                    <p>Quality <br> Checked</p>
                    <p>Checked</p>
                </div>
                <div class="fast">
                    <i class="fa-solid fa-truck"></i>
                    <p>Fast <br> Delivery</p>
                    <p>Delivery</p>
                </div> -->
                <div class="title">
                    <h1>we help you build a better future</h1>
                </div>
            </div>
            <span><a href="">Learn more about our features and services! </a></span>
        </div>

        <form action="get">
            <h1>Create Account</h1>
            <div class="icon">
                <i class="fa-regular fa-user"></i>
            </div>
            <input type="text" [(ngModel)]="User.username" name="username" placeholder="User name">

            <div class="icon">
                <i class="fa-regular fa-envelope"></i>
            </div>
            <input type="email" [(ngModel)]="User.email" name="email" placeholder="Email">

            <div class="icon">
                <i class="fa-solid fa-lock"></i>
            </div>
            <input type="password"  [(ngModel)]="User.password" name="password" placeholder="Password"> <br>
            <button class="btn2" (click)="submit($event,User)">SEND</button> <br>
            <p routerLink="/sign-in">Already Have An Account? <a> Login</a></p>
        </form>
    </div>
   
</section>
