<nav>
    <div class="navigate">
       <div class="logo">
           <h1 routerLink="/main">Tasky</h1>
           <ul class="nav-elements">
               <!-- <li class="nav-list"><a routerLink="/addTask">Add Task</a></li> -->
              <!-- <li class="nav-list" (click)="getData()"><a routerLink="/view">View Task</a></li> -->
           </ul>
       </div>
        <div class="filter">
            <div class="search">
                <input type="search" placeholder="Search......">
            </div>
            <div class="profile">
                <p>{{profile}}</p>
            </div>
        </div>
    </div>
</nav>